<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ entry.title }}
        {{ currentSite.name }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
    <link rel="stylesheet" href="{{ siteUrl }}src/css/styles.css">
    <!--[if lt IE 9]> <script src="{{ siteUrl }}src/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script> <link rel="stylesheet" href="{{ siteUrl }}src/js/vendor/outdatedBrowser.min.css"> <![endif]-->
    <!-- FONTS -->
    <!-- add updated script from typekit or google fonts -->
    <!-- <script type="text/javascript" src="//use.typekit.net/cgu6wgz.js"></script> -->
    <!-- <script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->
    <script>
        // Picture element HTML5 shiv
        document.createElement("picture");
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/2.3.1/picturefill.min.js" async=""></script>
