{% extends "_layout.twig" %}
{% block content %}
    <div class="hero">
        <picture class="bg-image">
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="{{ siteUrl }}src/img/img_hero.jpg" media="(min-width: 1000px)">
            <source srcset="{{ siteUrl }}src/img/img_hero.jpg" media="(min-width: 760px)">
            <!--[if IE 9]></video><![endif]-->
            <!--1440x848-->
            <img src="{{ siteUrl }}src/img/img_hero.jpg" alt=""/>
        </picture>
        <div class="wrapper hero__overlay text-center">
            <div class="flex-row">
                <div class="flex-col-tablet-8 flex-col-tablet-offset-2">
                    <h6 class="color-white type-sm type-uppercase type-spacing">{{entry.homeTagline}}</h6>
                    <h1 class="color-white">Making Sense Of Data</h1>
                    <div class="flex-col-tablet-10 flex-col-tablet-offset-1">
                        <p class="color-white">Data Chemist makes the complicated simple: we transform the messy, inconsistent data sets of the real world into clean, structured and integrated data. Our customers improve decision-making and reduce costs as a result.</p>
                    </div>
                    <a href="#main" class="page-scroll btn btn--primary">Find out more</a>
                </div>
            </div>
        </div>
        <a href="#main" class="page-scroll hero__scrollto scroll-to box-shadow">
            <i class="icon-arrow_down"></i>
        </a>
    </div>
    <!-- Main -->
    <main id="main">
        <div class="section--lg text-center">
        {% for block in entry.box.all() %}
            <section class="section animate">
                <div class="wrapper">
                    <div class="flex-row middle-xs">
                        {% if loop.index is divisible by(2) %}
                        <div class="flex-col-tablet-8 flex-col-tablet-offset-2 flex-col-desktop-6 flex-col-desktop-offset-0 text-right-desktop">
                            <h2>{{block.headline}}</h2>
                            <p>{{block.paragraph}}</p>
                            <hr>
                        </div>
                        <div class="flex-col-xs-8 flex-col-xs-offset-2 flex-col-tablet-6 flex-col-tablet-offset-3 flex-col-desktop-offset-0 first-desktop-down px-desktop-5x">
                            <div class="illustration box-shadow">
                                <img src="{{ siteUrl }}src/img/svg_{{block.symbol}}.svg" alt="illustration {{block.headline}}">
                                <span class="illustration__number box-shadow">{{loop.index}}</span>
                            </div>
                        </div>
                        {% else %}
                         <div class="flex-col-xs-8 flex-col-xs-offset-2 flex-col-tablet-6 flex-col-tablet-offset-3 flex-col-desktop-offset-0 px-desktop-5x">
                            <div class="illustration box-shadow">
                                <img src="{{ siteUrl }}src/img/svg_{{block.symbol}}.svg" alt="illustration {{block.headline}}">
                                <span class="illustration__number illustration__number--alt box-shadow">{{loop.index}}</span>
                            </div>
                        </div>
                        <div class="flex-col-tablet-8 flex-col-tablet-offset-2 flex-col-desktop-6 flex-col-desktop-offset-0 text-left-desktop">
                            <h2>{{block.headline}}</h2>
                            <p>{{block.paragraph}}</p>
                            <hr>
                        </div>
                       {% endif %} 
                    </div>
                </div>
            </section>
        {% endfor %}
        </div>
    </main>
    <!-- Main ./end -->
{% endblock %}